name: Potato CPU Tests

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # got to get the compiler tests submodule too
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tqdm
          pip install -e .

      - name: Build Rust project
        run: cargo build --all-features

      - name: Run Potato CPU tests
        run: python test_potato_cpu.py
